In [1]:
import pandas as pd

df_category = pd.read_csv(r'./refer/category_detail_code.csv',encoding = 'euc-kr')
df_season = df_category[df_category['품목명'].isin(["단감", "딸기", "수박", "복숭아", "사과", "포도", "감귤", "고구마", "파인애플", "바나나"])]
df_season

    부류코드  품목코드   품목명
6    100   151   고구마
14   200   221    수박
19   200   226    딸기
48   400   411    사과
50   400   413   복숭아
51   400   414    포도
52   400   415    감귤
53   400   416    단감
54   400   418   바나나
56   400   420  파인애플

In [8]:
import pandas as pd
from core import kamis 

kamis.dailypricecategory(category_detail_code='100').text

{"condition":[{"p_product_cls_code":"02","p_country_code":[],"p_regday":"2022-12-01","p_convert_kg_y

'{"condition":[{"p_product_cls_code":"02","p_country_code":[],"p_regday":"2022-12-01","p_convert_kg_yn":"N","p_category_code":"1","p_cert_key":"2783","p_cert_id":"e4b30991-cca9-45fc-aec4-3c4e0fa0fe97","p_returntype":"json"}],"data":["001"]}'

In [15]:
code = '151'
for code in df_season['품목코드']:
    print(code)
    response = kamis.dailypricecategory(category_detail_code=str(code))
    text = response.json()
    print(text)
    df = pd.json_normalize(text)
    display(df)
    break

151
{"condition":[{"p_product_cls_code":"02","p_country_code":[],"p_regday":"2022-12-01","p_convert_kg_y
{'condition': [{'p_product_cls_code': '02', 'p_country_code': [], 'p_regday': '2022-12-01', 'p_convert_kg_yn': 'N', 'p_category_code': '1', 'p_cert_key': '2783', 'p_cert_id': 'e4b30991-cca9-45fc-aec4-3c4e0fa0fe97', 'p_returntype': 'json'}], 'data': ['001']}

                                           condition   data
0  [{'p_product_cls_code': '02', 'p_country_code'...  [001]