In [1]:
from web_api_kamis import *
kamis_api_check()

<Response [200]>

In [1]:
import pandas as pd
df = pd.read_csv('/Users/bellepoque7/Documents/GitHub/whereisplanb/kamis api/Data/감자_230408_3yr.csv')
df.describe()

,Unnamed: 0,품목코드,품종코드,상태코드,조회일자 가격,1일전 가격,1주일전 가격,2주일전 가격,1개월전 가격,1년전 가격,평년 가격
count,2118.000000,2118.0,2118.000000,2118.000000,1640.000000,1642.000000,1640.000000,1640.000000,1946.00000,1954.000000,2104.000000
mean,16.179887,152.0,1.122757,4.500000,39029.851829,39008.743605,38835.095732,38697.998171,37686.68037,31873.006653,35674.952947
std,1.206670,0.0,0.328236,0.500118,11402.335808,11411.650187,11391.035954,11439.368726,10896.05306,11789.577221,10020.957407
min,14.000000,152.0,1.000000,4.000000,17360.000000,17360.000000,17360.000000,17360.000000,17600.00000,15250.000000,19428.000000
25%,15.000000,152.0,1.000000,4.000000,31315.000000,31300.000000,31220.000000,31100.000000,30572.00000,22655.000000,29140.500000
50%,16.000000,152.0,1.000000,4.500000,37460.000000,37460.000000,37230.000000,37060.000000,36240.00000,30754.000000,33395.500000
75%,17.000000,152.0,1.000000,5.000000,44620.000000,44615.000000,44525.000000,44430.000000,43230.00000,36497.000000,39293.000000
max,19.000000,152.0,2.000000,5.000000,81400.000000,81400.000000,81400.000000,81400.000000,79812.00000,74600.000000,67800.000000